@page
@model IndexModel

@{
    ViewData["Title"] = "Heals Center";
}



<div class="tab-content">
    <div class="cl-main-window ">
        <div class="body-width">
            <div class="cl-main-window-form col-md-6">
                <div class="">
                    <h4><strong>HEALTH CENTER</strong></h4>
                    <h1><strong>Catchy/Convincing slogan</strong></h1>
                    <br />
                    <p>A supporting statement for your Value Proposition to ecourage customers to complite your CTA</p>
                    <br />
                    <p><span>BOOKING A VISIT  <span class="fas fa-angle-down fa-1x"></span></span></p>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Name" class="form-control" placeholder="YOUR NAME" />
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="YOUR E-MAIL" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="VisitDate" type="text" class="form-control" placeholder="SELECT A DATE" value=""
                                   onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" />
                            <span asp-validation-for="VisitDate"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="SEND" class=" btn btn-info" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="cl-contacts">
        <div class="body-width ">
            <div class="same-height">
                <div class="col-md-4 col-lg-4  col-sm-4 contact-first">
                    <br />
                    <i class="fa fa-clock-o fa-2x " aria-hidden="true"></i>
                    <h3>Working Time</h3>
                    <br />
                    <p>Monday - Friday: 8.00 - 17.00</p>
                    <hr />
                    <p>Sunday: 8.00 - 17.00</p>
                    <hr />
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 contact-second">
                    <br />
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    <h3>Contact us</h3>
                    <br />
                    <p><a href="tel:1-222-333-4444"><span><big><big>1-222-333-4444</big></big></span></a></p>
                    <br />
                    <p>Lorem ipsem dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 contact-third">
                    <br />
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    <h3>Where are we?</h3>
                    <br />
                    <p>Witkiewicza 6</p>
                    <p>44-100, Gliwice</p>
                    <br />
                    <p><a href="https://goo.gl/maps/3AEnyJbPP4ZeUKN78">Get direction on the map</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="cl-about">
        <div class="body-width">
            <h2>About us</h2>
            <div class="live-scroll ">
                <div class="row live-scroll-box col-12">
                    <div class="col-md-8">
                        <p>
                            A few setnetces about your Product. How it help to solve clients problems. Lorem ipsem dolr sit amet, consecteture adipisicing elit, set do A few setnetces about your Product. How it help to solve clients problems. Lorem ipsem dolrsit amet, consectetureadipisicing elit, set do A few setnetces about your Product. How it help to solve clients problems
                            Lorem ipsem dolr sit amet, consectetureadipisicing elit, set do
                        </p>
                    </div>
                    <div class="col-md-4">
                        <ul class="fas fas-list">
                            <li class=" fa-check"> <span>Youre value proposition</span></li>
                            <li class=" fa-check"><span> Strong point</span></li>
                            <li class="fa-check"> <span>How will this help solve the customer's issues in the future</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row live-scroll-box col-12">
                    <div class="col-md-8">
                        <p>
                            A few setnetces about your Product. How it help to solve clients problems. Lorem ipsem dolr sit amet, consecteture
                            adipisicing elit, set do
                            A few setnetces about your Product. How it help to solve clients problems. Lorem ipsem dolr sit amet, consecteture
                            adipisicing elit, set do
                            A few setnetces about your Product. How it help to solve clients problems. Lorem ipsem dolr sit amet, consecteture
                            adipisicing elit, set do
                        </p>
                    </div>
                    <div class="col-md-4">
                        <ul class=" fas fas-list">
                            @*<li class=" fa-check"> <span>Youre value proposition</span></li>*@
                            <li class=" fa-check"><span> Strong point</span></li>
                            <li class="fa-check"> <span>How will this help solve the customer's issues in the future</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row col-12 live-scroll-box col-12">
                    <div class="col-md-8">
                        <p>
                            A few setnetces about your Product. How it help to solve clients problems. Lorem ipsem dolr sit amet, consecteture
                            adipisicing elit, set do
                            A few setnetces about your Product. How it help to solve clients problems. Lorem ipsem dolr sit amet, consecteture
                            adipisicing elit, set do
                        </p>
                    </div>
                    <div class="col-md-4">
                        <ul class=" fas fas-list">
                            <li class=" fa-check"> <span>Youre value proposition</span></li>
                            <li class=" fa-check"><span> Strong point</span></li>
                            <li class="fa-check"> <span>How will this help solve the customer's issues in the future</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row col-12 live-scroll-box col-12">
                    <div class="col-md-8">
                        <p>
                            A few setnetces about your Product. How it help to solve clients problems. Lorem ipsem dolr sit amet, consecteture
                            adipisicing elit, set do

                        </p>
                    </div>
                    <div class="col-md-4">
                        <ul class=" fas fas-list">
                            <li class=" fa-check"> <span>Youre value proposition</span></li>
                            <li class=" fa-check"><span> Strong point</span></li>
                            <li class="fa-check"> <span>How will this help solve the customer's issues in the future</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cl-services">
        <div class="body-width">
            <h2>Our services</h2>
            <div class="row live-scroll ">
                <div class="">
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-flask fa-3x"></a>
                        <h3>Laboratory test</h3>
                        <p>Add a discription of your offer and key benefits</p>
                    </div>
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-heartbeat fa-3x"></a>
                        <h3>Cardiology</h3>
                        <p>
                            Add a discription of your offer and key benefits
                            Add a discription of your offer and key benefits
                        </p>
                    </div>
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-user-md fa-3x"></a>
                        <h3>Neurology</h3>
                        <p>Add a discription of your offer and key benefits</p>
                    </div>
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-flask fa-3x"></a>
                        <h3>Laboratory test</h3>
                        <p>Add a discription of your offer and key benefits</p>
                    </div>
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-heartbeat fa-3x"></a>
                        <h3>Cardiology</h3>
                        <p>
                            Add a discription of your offer and key benefits
                            Add a discription of your offer and key benefits
                        </p>
                    </div>
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-user-md fa-3x"></a>
                        <h3>Neurology</h3>
                        <p>Add a discription of your offer and key benefits</p>
                    </div>
                </div>
                <div class="">
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-wheelchair fa-3x"></a>
                        <h3>Physiotherapy</h3>
                        <p>Add a discription of your offer and key benefits</p>
                    </div>
                    
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-ambulance fa-flip-horizontal fa-3x"></a>
                        <h3>Emergency</h3>
                        <p>Add a discription of your offer and key benefits</p>
                    </div>
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-stethoscope fa-3x"></a>
                        <h3>Consultation</h3>
                        <p>Add a discription of your offer and key benefits</p>
                    </div>
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-wheelchair fa-3x"></a>
                        <h3>Physiotherapy</h3>
                        <p>Add a discription of your offer and key benefits</p>
                    </div>
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-ambulance fa-flip-horizontal fa-3x"></a>
                        <h3>Emergency</h3>
                        <p>Add a discription of your offer and key benefits</p>
                    </div>
                    <div class="live-scroll-box service col-md-4">
                        <a class="fas fa-stethoscope fa-3x"></a>
                        <h3>Consultation</h3>
                        <p>Add a discription of your offer and key benefits</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cl-team">
        <div class="body-width">
            <h2>Meet our team</h2>
            <div class="live-scroll same-height">
                <div class="live-scroll-box col-md-4 col-lg-4 col-sm-6">
                    <div>
                        <div>
                            <img src="~/images/doctor1.jpg" />
                        </div>
                        <h4>Full Name</h4>
                        <p>specialization</p>
                    </div>
                </div>
                <div class="live-scroll-box col-lg-4 col-md-4 col-sm-6">
                    <div>
                        <img src="~/images/doctor2.jpg" />
                    </div>
                    <h4>Full Name</h4>
                    <p>specialization</p>
                </div>
                <div class="live-scroll-box col-lg-4 col-md-4 col-sm-6">
                    <div>
                        <img src="~/images/doctor3.jpg" />
                    </div>
                    <h4>Full Name</h4>
                    <p>specialization</p>
                </div>
                @*dublicate*@
                <div class="live-scroll-box col-lg-4 col-md-4 col-sm-6">
                    <div>
                        <img src="~/images/doctor1.jpg" />
                    </div>
                    <h4>Full Name</h4>
                    <p>specialization</p>
                </div>
                <div class="live-scroll-box col-lg-4 col-md-4 col-sm-6">
                    <div>
                        <img src="~/images/doctor2.jpg" />
                    </div>
                    <h4>Full Name</h4>
                    <p>specialization</p>
                </div>
                <div class="live-scroll-box col-lg-4 col-md-4 col-sm-6">
                    <div>
                        <img src="~/images/doctor3.jpg" />
                    </div>
                    <h4>Full Name</h4>
                    <p>specialization</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cl-social-proof">
        <div class="body-width">
            <h2>Social proof</h2>
            <div class="row live-scroll">
                <div class="live-scroll-box col-md-4 col-sm-6 social-proof-first social-proof-sameheight">
                    <div class="social-live-scroll-box-div">
                        <a class="fas fa-quote-right"></a>
                        <br /> <br />
                        <p>
                            <span>
                                A few sentences about your product
                                How it help tosolve clients problems. It shoud convince the unconvinced. No fake quotes or photos!
                            </span>
                        </p>
                        <p></p>
                        <p>Your Customer Name</p>
                    </div>
                </div>
                <div class="live-scroll-box  col-md-4 col-sm-6 social-proof-second social-proof-sameheight">
                    <div class="social-live-scroll-box-div ">
                        <a class="fas fa-quote-right "></a>
                        <br /> <br />
                        <p>
                            <span>
                                How it help tosolve clients problems. It shoud convince the unconvinced. No fake quotes or photos!
                            </span>
                        </p>
                        <p></p>
                        <p>Your Customer Name</p>
                    </div>
                </div>
                <div class="live-scroll-box col-md-4 col-sm-6 social-proof-third social-proof-sameheight">
                    <div class="social-live-scroll-box-div">
                        <a class="fas fa-quote-right "></a>
                        <br /> <br />
                        <p>
                            <span>
                                A few sentences about your product
                                How it help tosolve clients problems. It shoud convince the unconvinced. No fake quotes or photos!
                            </span>
                        </p>
                        <p></p>
                        <p>Your Customer Name</p>
                    </div>
                </div>
                @*dublicate*@
                <div class="live-scroll-box col-md-4 col-sm-6 social-proof-first social-proof-sameheight">
                    <div class="social-live-scroll-box-div">
                        <a class="fas fa-quote-right"></a>
                        <br /> <br />
                        <p>
                            <span>
                                A few sentences about your product
                                How it help tosolve clients problems. It shoud convince the unconvinced. No fake quotes or photos!
                            </span>
                        </p>
                        <p></p>
                        <p>Your Customer Name</p>
                    </div>
                </div>
                <div class="live-scroll-box col-md-4 col-sm-6 social-proof-second social-proof-sameheight">
                    <div class="social-live-scroll-box-div">
                        <a class="fas fa-quote-right "></a>
                        <br /> <br />
                        <p>
                            <span>
                                A few sentences about your product
                                How it help tosolve clients problems. It shoud convince the unconvinced. No fake quotes or photos!
                            </span>
                        </p>
                        <p></p>
                        <p>Your Customer Name</p>
                    </div>
                </div>
                <div class="live-scroll-box col-md-4 col-sm-6 social-proof-third social-proof-sameheight">
                    <div class="social-live-scroll-box-div">
                        <a class="fas fa-quote-right"></a>
                        <br /> <br />
                        <p>
                            <span>
                                A few sentences about your product
                                How it help tosolve clients problems. It shoud convince the unconvinced. No fake quotes or photos!
                            </span>
                        </p>
                        <p></p>
                        <p>Your Customer Name</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cl-slogan">
        <div class="body-width">
            <div class="slogan-text">
                <h1>Catchy/Convincing slogan</h1>
                <p>A supporting statement for your Value Proposition to encourage customers to complete your CTA</p>
                <br />
                <span><a href="#" class="btn btn-info" onclick="scroll(0,0)">BOOKING A VISIT</a></span>
                <p>or call us <a href="tel:1-222-333-44">1-222-333-444</a></p>
            </div>
        </div>
    </div>

</div>

